// Import page-specific CSS files here.
@import "home";


.container.index {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.index-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  grid-column: span 3;
}

.left-side-comp {
  flex-direction: column;
  margin-top: 20px;

}
.filter-by {
  border: 1px solid black;
  width: 195px;
  height: 300px;
  align-self: flex-start;
  margin-top: 20px;
}

