// Import page-specific CSS files here.
@import "home";

.container.index {
display: flex;
flex-direction: column;
}

.index-search {
  margin-top: 100px;
}

.container-books {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
justify-content: space-around;
flex-wrap: wrap;
grid-column: span 3;
}

.index-grid {
display: flex;
}

.filter-by {
  border: 1px solid black;
  width: 195px;
  height: 300px;
  align-self: flex-start;
  margin-top: 20px;
}

