<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"> <%= Book Title %> </h5>
    <p class="card-text"> <%= written by xyz %> </p>
    <a href="#" class="btn btn-primary">Check availability</a>
  </div>
</div>
