<div class="container index">

  <div class="left-side-comp">
    <div class="index-search">
      <form class="d-flex my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

    <div class="filter-by">
      <p>Filter by:</p>
    </div>
  </div>

  <div class="index-grid">
    <% @books.each do |book| %>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> <%= book.book_title %> </h5>
        <p class="card-text"> <%= book.author %></p>
        <span class="badge">availabile now</span>
      </div>
    </div>
      <% end %>
  </div>

</div>
