<div class="container d-flex">

  <div class="index-search">
    <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn-card my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>


  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> Book Title </h5>
      <p class="card-text"> written by xyz, year</p>
   <!--    if -->
      <a href="#" class="btn-card">availabile now</a>
     <!--  else -->
     <!--  <a href="#" class="btn-card"> not availabile</a> -->
  <!--     end -->
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> Book Title </h5>
      <p class="card-text"> written by xyz, year</p>
   <!--    if -->
      <a href="#" class="btn-card">availabile now</a>
     <!--  else -->
     <!--  <a href="#" class="btn-card"> not availabile</a> -->
  <!--     end -->
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> Book Title </h5>
      <p class="card-text"> written by xyz, year</p>
   <!--    if -->
      <a href="#" class="btn-card">availabile now</a>
     <!--  else -->
     <!--  <a href="#" class="btn-card"> not availabile</a> -->
  <!--     end -->
    </div>
  </div>
</div>
