<div class="container index">

  <div class="left-side-comp">
    <div class="index-search">
      <%= simple_form_for :search, url: books_path, :method => :get, :class => "search-bar d-flex" do |f| %>
      <%= f.text_field  :query, :class => "form-control search mr-sm-2" %>
      <%= f.submit :class => "btn btn-search my-2 my-sm-0" %>
      <% end %>
    </div>
     <div class="filter-by">
       <p>Filter by:</p>
     </div>
   </div>


  <div class="index-grid">
    <% @books.each do |book| %>
      <div class="card">
        <%= render "indexcard", book: book %>
      <% end %>
  </div>

</div>
