<div class="container index">

  <div class="index-search">
    <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

  <% @books.each do |book| %>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> <%= book.book_title %> </h5>
      <p class="card-text"> written by xyz, year</p>
   <!--    if -->
      <span class="badge">availabile now</span>
     <!--  else -->
     <!--  <a href="#" class="btn-card"> not availabile</a> -->
  <!--     end -->

    </div>
      <% end %>

  </div>
