<div class="container index">

  <div class="left-side-comp">
    <div class="index-search">
      <form class="d-flex my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
     <div class="filter-by">
       <p>Filter by:</p>
     </div>
   </div>


  <div class="index-grid">
    <% @books.each do |book| %>
    <%= render "indexcard", book: book %>
      <% end %>
  </div>

</div>
