<form>
  <div class="form-row">
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="War and peace">
  </div>

  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" placeholder="Tolstoy">
  </div>

    <div class="form-group">
        <label for="isbn">ISBN</label>
         <input type="text" class="form-control" id="isbn" placeholder="War and peace">
    </div>

    <div class="condition_dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="condition_dropdown" data-toggle="condition_dropdown" aria-haspopup="true" aria-expanded="true">
      Condition
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">1 star</a>
    <a class="dropdown-item" href="#">2 star</a>
    <a class="dropdown-item" href="#">3 star</a>
    <a class="dropdown-item" href="#">4 star</a>
    <a class="dropdown-item" href="#">5 star</a>
    </div>
  </div>
    <div class="form-group">
        <label for="upload_a_picture">Upload a picture of your book!</label>
        <input type="file" class="form-control-file" id="upload_a_picture">
    </div>

    <div class="form-group">
        <label for="description">Description</label>
         <input type="text" class="form-control" id="description" placeholder="It was a story about war and peace between...">
    </div>


<div class="form-group">
<label for="price">Book price</label>
 <input type="number" class="form-control" id="price" placeholder="$ ">
</div>

  <div class="form-group">
    <label for="inputAddress">Location</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>