.card-img-top {
  border: 1px solid black;
    height: 225px;
    width: 175px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(1,1,1,0.5);
}

.card {
  display: flex;
  align-items: center;
  padding: 15px;
  width: 16rem;
  height: 25rem;
  margin: 20px 0;
  background-color: transparent;
  border: transparent;
}

.card-body {
  h5 {
    align-text: center;
  }
  p {
    align-text: center;
  }
}


.badge {
  font-variant: small-caps;
    font-size: 15px;
    background-color: white;
    color: #F97068;
    padding: 8px;
    border-radius: 15px;
    -webkit-font-smoothing: antialiased;
    box-shadow: 0px 0px 5px rgba(1,1,1,0.2);
}
