.card-img-top {
  border: 1px solid black;
  height: 225px;
  width: 175px;
}

.card {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 20px;
  width: 16rem;
  height: 25rem;
  margin: 20px 0;

  &.show {
    width: 100%;
  }
}

.card-body {
  h5 {
    align-text: center;
  }
  p {
    align-text: center;
  }
}


.badge {
  background-color: #F97068;
  font-variant: small-caps;
  font-size: 15px;
  background-color: #BCBCB4;
  color: #F8EBD2;
  padding: 8px;
  border-radius: 15px;
}
